// =============================================================================
//
// @file _grid.scss
// Site layout.
//
// =============================================================================
// Functions
// =============================================================================
//
// @file _functions.scss
// Site used functions.
//
// =============================================================================

// mixins
@mixin responsive-full-width {
  @include respond-to('tablet') {
    flex: 1 0 100%;
    margin-left: 0;
    min-width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: rem($container-max-width);
}

// row
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -#{rem($gutter)};
  margin-top: -#{rem($gutter)};

  li {
    list-style-type: none;
  }
}

// Columns
.col {
  flex: 1 0 calc(#{calculatePercentage(1)} - #{rem($gutter)});
  margin-left: #{rem($gutter)};
  margin-top: #{rem($gutter)};
}

// One quarter
.col-3 {
  flex: 1 0 calc(#{calculatePercentage(4)} - #{rem($gutter)});
  min-width: calc(#{calculatePercentage(4)} - #{rem($gutter)});

  @media screen and (max-width: $container-max-width) {
    flex: 1 0 calc(#{calculatePercentage(2)} - #{rem($gutter)});
    min-width: calc(#{calculatePercentage(2)} - #{rem($gutter)});
  }
}

// One third
.col-4 {
  flex: 1 0 calc(#{calculatePercentage(3)} - #{rem($gutter)});
  min-width: calc(#{calculatePercentage(3)} - #{rem($gutter)});
}

// Half
.col-6 {
  flex: 1 0 calc(#{calculatePercentage(2)} - #{rem($gutter)});
  min-width: calc(#{calculatePercentage(2)} - #{rem($gutter)});
}

// Two thirds
.col-8 {
  flex: 1 0 calc(#{calculatePercentage(3) * 2} - #{rem($gutter)});
  min-width: calc(#{calculatePercentage(3) * 2} - #{rem($gutter)});
}

// Full width
.col-12 {
  flex: 1 0 calc(#{calculatePercentage(1)} - #{rem($gutter)});
  min-width: calc(#{calculatePercentage(1)} - #{rem($gutter)});
}

// utilities
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Width only
.half {
  width: 50%;
}

.three-quarters {
  width: 75%;
}

.full-width {
  width: 100%;
}




