
body {
  font-family: $font-family-primary;
  font-size: rem(14);
}

h1, h2, .h2 {
  font-family: $font-family-secondary;
  font-weight: bold;
}

h1 {
  font-size: rem(48);
}

h2, .h2 {
  font-size: rem(32);
  line-height: rem(36);
}


p {
  &.body-big {
    font-size: rem(18);
    line-height: rem(29);
  }
}