.margin {
  &-btm {
    &-xs {
      margin-bottom: map-get($spacings, xs);
    }
    &-sm {
      margin-bottom: map-get($spacings, sm);
    }
    &-md {
      margin-bottom: map-get($spacings, md);
    }
    &-xl {
      margin-bottom: map-get($spacings, xl);
    }
  }

  &-right {
    &-xs {
      margin-right: map-get($spacings, xs);
    }
    &-sm {
      margin-right: map-get($spacings, sm);
    }
    &-xl {
      margin-right: map-get($spacings, xl);
    }
  }
}