.padding {

  // All around
  &-xs {
    padding: map-get($spacings, xs);
  }
  &-xl {
    padding: map-get($spacings, xl);
  }

  // Only top and bottom
  &-xl-0 {
    padding: map-get($spacings, xl) 0;
  }

  &-xl-0-lg-0 {
    padding: map-get($spacings, xl) 0 map-get($spacings, lg) 0;
  }

  // no top, only right, bottom, left
  &-0 {
    &-sm {
      &-md {
        // right: sm, bottom: md, left: sm
        padding: 0 map-get($spacings, sm) map-get($spacings, md);
      }
    }
  }
}